<dl class="tv-metric-row" aria-label="Parametri di preparazione">
  <div class="tv-metric-row__item">
    {% with name='thermo', size='sm' %}{% include 'partials/icon.html' %}{% endwith %}
    <span class="tv-metric-row__value">{{ body.temp }}</span><span class="tv-metric-row__unit">°C</span>
    <span class="tv-metric-row__label">Temperatura</span>
  </div>
  <div class="tv-metric-row__item">
    {% with name='scale', size='sm' %}{% include 'partials/icon.html' %}{% endwith %}
    <span class="tv-metric-row__value">{{ body.grams }}</span><span class="tv-metric-row__unit">g</span>
    <span class="tv-metric-row__label">/ 100 ml</span>
  </div>
  <div class="tv-metric-row__item">
    {% with name='timer', size='sm' %}{% include 'partials/icon.html' %}{% endwith %}
    <span class="tv-metric-row__value">{{ body.seconds }}</span><span class="tv-metric-row__unit">sec</span>
    <span class="tv-metric-row__label">Prima infusione</span>
  </div>
  <div class="tv-metric-row__item">
    {% with name='cup', size='sm' %}{% include 'partials/icon.html' %}{% endwith %}
    <span class="tv-metric-row__value">{{ body.infusions }}</span>
    <span class="tv-metric-row__label">Infusioni</span>
  </div>
</dl>
