{% for block in blocks %}
  {% if block.type == 'paragraph' %}
    <p class="tv-prose__p">{% for span in block.spans %}{% if span.type == 'strong' %}<strong class="tv-prose__strong">{{ span.value }}</strong>{% elif span.type == 'em' %}<em class="tv-prose__em">{{ span.value }}</em>{% elif span.type == 'link' %}<a href="{{ span.href }}" class="tv-prose__link">{{ span.value }}</a>{% else %}{{ span.value }}{% endif %}{% endfor %}</p>
  {% elif block.type == 'heading' %}
    <h{{ block.level }} class="tv-prose__heading tv-prose__heading--{{ block.level }}">{% for span in block.spans %}{{ span.value }}{% endfor %}</h{{ block.level }}>
  {% elif block.type == 'list' %}
    {% if block.ordered %}<ol class="tv-prose__list">{% else %}<ul class="tv-prose__list">{% endif %}
      {% for item in block['items'] %}<li>{% for span in item.spans %}{% if span.type == 'link' %}<a href="{{ span.href }}" class="tv-prose__link">{{ span.value }}</a>{% else %}{{ span.value }}{% endif %}{% endfor %}</li>{% endfor %}
    {% if block.ordered %}</ol>{% else %}</ul>{% endif %}
  {% elif block.type == 'bibliography' %}
    <section class="tv-bibliography" aria-label="Bibliografia">
      <h2 class="tv-prose__heading tv-prose__heading--2">Bibliografia</h2>
      <ol class="tv-bibliography__list">
        {% for item in block['items'] %}
        {% if item.kb_ref != 'books/knowledge-base.json' and item.author != 'The Verde' %}
        <li class="tv-bibliography__item">
          <span class="tv-bibliography__work"><span class="tv-bibliography__author">{{ item.author }}</span>, <cite class="tv-bibliography__title">{{ item.title }}</cite>.</span>
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    </section>
  {% endif %}
{% endfor %}
