<dl class="tv-sensory-profile" aria-label="Profilo sensoriale">
  <div class="tv-sensory-profile__row"><dt class="tv-sensory-profile__label">Aspetto</dt><dd class="tv-sensory-profile__value">{{ body.aspetto }}</dd></div>
  <div class="tv-sensory-profile__row"><dt class="tv-sensory-profile__label">Aroma</dt><dd class="tv-sensory-profile__value">{{ body.aroma }}</dd></div>
  <div class="tv-sensory-profile__row"><dt class="tv-sensory-profile__label">Gusto</dt><dd class="tv-sensory-profile__value">{{ body.gusto }}</dd></div>
  <div class="tv-sensory-profile__row"><dt class="tv-sensory-profile__label">Retrogusto</dt><dd class="tv-sensory-profile__value">{{ body.retrogusto }}</dd></div>
</dl>
